.git
.gitignore
__pycache__
*.py[cod]
*.egg-info
dist/
build/
venv/
.venv/
.env
.env.*
staging_input/
staging_output/
staging_not_processed/
infrastructure/
tests/
*.md
*.log
.DS_Store
.idea/
.vscode/
